* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html
{
	max-width: 100%;
}


h2
{
	font-size: 300%;
	font-style: italic;
	text-align: center;
}

html
{
	background-image: url(./bg.png);
}


header{
	text-align: center;
	background-image: linear-gradient(rgba(255,255,255,1),85%, rgba(255,0, 255, 0.0) );
	margin-bottom: 2em; 
}

nav.links{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 7%;
}


button.nav{
	background-color: black;
	color: white;
	font-size: 150%;
	font-family: "Montserrat", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
  	border-radius: 7px;
  	padding: 3px 8px 3px 8px; 
  	transition: 0.2s;
}


button.nav:hover{
	background-color: white;
	color: black;
	transition: 0.2s;
}

body
{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 120%;
	text-shadow:  0px 0px 1px black;
	
	font-family: "Montserrat", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
  	min-height: 100vh;
}

.corps{
	padding-left: 3%;
	padding-right: 3%;
}

h1
{
	font-style: bold;
	font-size: 750%;
	padding-top: 2%;
	margin: 0;
	font-family: "Bebas Neue";
}

div.maths{
	margin: 1%;
	margin-top: 2%;
	font-size: 100%
}

div.displayprog{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5%;
	max-width: 100%;
	max-height: 400px;
	margin-top: 5%;
	margin-bottom: auto;
}



div.table{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

a.button{
	font-style: block;
	color: black;
	text-decoration: none;
}


section.button{
	text-align: center;
	border-radius: 15px;
	padding: 2%;
	text-shadow: 0 0 0px black;
	margin: 1%;
	min-width: 300px;
	max-width: 300px;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0);
	transition: 0.2s;
}

section.button:hover{
	background-color: rgba(255, 255, 255, .9);
	text-shadow: 0 0 2px black;
	transition: 0.2s;
}

h2{
	font-size: 550%;
	margin-bottom: 2%;
}

h3{
	font-size: 250%;
	margin-top: 3%
}

h4{
	font-size: 150%;
	margin-top: 3%
}


p{
	margin: 0.5%;
}

p.subtitle{
	font-size: 120%
}
p.legende{
	padding: 0;
	margin: 0;
	font-size: 45%;
	font-style: italic;
}

footer
{
	text-align: center;
	background-color: black;
	color: white;
	margin: 0;
	width: 100%;
	height: 20%;
	padding: 1%;
	margin-top: 2%;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #556fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}